* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}
body {
	background: rgb(34, 193, 195);
	background: linear-gradient(
		0deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(253, 187, 45, 1) 100%
	);
}
#container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}
form {
	height: 120px;
	width: 400px;
	background-color: white;
	display: flex;
	justify-content: space-around;
	flex-flow: column nowrap;
	border: 2px solid gray;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 30px;
}
label {
	font-size: 2rem;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
input {
	font-size: 1.8rem;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid grey;
}
button {
	font-size: 2rem;
	padding: 4px;
}

img {
	width: 550px;
}

@media screen and (max-width: 600px) {
	img {
		width: 95%;
	}
}
@media screen and (max-width: 440px) {
	form {
		width: 95%;
	}
}
